$brand-font-folder: "~@momentum-ui/core/fonts";
$icon-font-path: "~@momentum-ui/icons/fonts";
$images-path: "~@momentum-ui/core/images";

@import "~@momentum-ui/core/scss/momentum-ui";
@import '~@momentum-ui/core/scss/layouts/sites';

body, .sword {
    cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo15.cur), auto;    
}

.monster_alive {
    width: 30px;
    height: 30px;
    transition: all 1s;
}

.monster_dead {
    height: 50%;
    transform: rotate(-90deg);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
